@*This page is a partial view that will be referenced by the Index page. Essentially everything we want to 
    see on the Index page will be included here*@

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        @*We include the Title of the Book in this h4 tag*@
        <h4>
            @Model.Title
            @*The price of the book will be placed in a blue pill badge to the right of the book title*@
            <span class="badge badge-pill badge-primary " style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>

    <ul class="card-text p-1">
        <li><b>Author: </b>@Model.Author</li>
        <li><b>Publisher: </b>@Model.Publisher</li>
        <li><b>ISBN: </b>@Model.Isbn</li>
        <li><b>Classification: </b>@Model.Classification</li>
        <li><b>Category: </b>@Model.Category</li>
        <li><b>Page Count: </b>@Model.PageCount</li>
    </ul>

    @*Here we add a button for the user to add the book to their cart, which sends hidden input data to Methods which will be used
        to add the correct book to the cart as well as come up with the correct return Url once the user wants to continue shopping
        after adding an item to the cart*@
    <form method="post" asp-page="/Buy">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="Submit" class="btn btn-success float-lg-right">Add To Cart</button>
        </span>
    </form>
</div>


